<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SimpleBlock.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SimpleBlock.Properties.Settings>
            <setting name="RunOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SleepCheck" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="Paused" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RepoCheckChar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RepoCheckTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RepoCheckDeep" serializeAs="String">
                <value>False</value>
            </setting>
        </SimpleBlock.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
